extends layout

block content
  h1 !{title}
  h2 name: !{coach.name}
  h3 email:  
    a(href=coach.mail) !{coach.email}

  h3 !{coach.name}'s Teams 

  ul
    each team in coach_teams
      li
          p !{team.sport.name} Team:   
            a(href=team.url) #{team.name} 
          
    else
      li This coach has no teams.   

  a(href=coach.update_url) Update this coach
    
  a(href=coach.delete_url) Delete this coach