extends layout

block content
  h1 !{coach.name}'s Coach Profile

  .container
    div(class="card")
      if coach.img 
        img.card-img-top(src=coach.image_path alt='...')
      .card-body
        h5.card-title Summary
        p.card-text
          | !{coach.summary}
      ul.list-group.list-group-flush
        li.list-group-item Email: 
          a(href=coach.mail) !{coach.email}

        li.list-group-item My Teams 
          ul(class="list-group")
            each team in coach_teams
              li(class="list-group-item")
                p !{team.sport.name}:  
                  a(href=team.url) #{team.name} 
            else
              li(class="list-group-item") This coach does not have any teams.

      .card-body
        a.card-link(href=coach.update_url) Update this coach
        a.card-link(href=coach.delete_url) Delete this coach