extends layout

block content
  h1 !{title}

  .container
    if coach_teams.length
    

      p #[strong Find a new coach for these teams before attempting to remove this coach.]

      div
        ul(class="list-group")
          each team in coach_teams
              li(class="list-group-item")
                  a(href=team.url) #{team.name}
              

    else
      p Do you really want to remove #{coach.name} from the list of coaches? 

      form(method='POST' action='')

          input(type='hidden',name='coachid', required='true', value=coach._id )
          button(type='submit') Delete