extends layout

block content
  h1 !{title}
  p The #[em Intramural Manager], is a very basic Express website that allows you to add, delete, and update teams, coaches, players, and sports in an imaginary intramural league.

  p The following database objects are being kept track of by #[em Intramural Manager]

  ul
    li #[strong Teams:] !{team_count}
    li #[strong Sports:] !{sport_count}
    li #[strong Players:] !{player_count}
    li #[strong Coaches:] !{coach_count}