extends layout

block content
  h1 !{title}

  .container

    if sport_teams.length 

      p #[strong Remove these teams before attempting to delete (!{sport.name})]

      div 
        h4 Teams that play #{sport.name}
        ul(class="list-group")
          each team in sport_teams 
            li(class="list-group-item")
              a(href=team.url) #{team.name}

    else 
      p Do you really want to remove !{sport.name} from the list of sports?

      form(method='POST' action='')
        input(type='hidden', name='sportid', required='true', value=sport._id)
        button(type='submit') Delete 