extends layout

block content
  h1 Team profile for !{team.name}

  .container 
    .card 
      if team.img 
        img.card-img-top(src=team.image_path alt='...')
 
      ul.list-group.list-group-flush
        li.list-group-item 
          h5.card-title Coach
          a(href=team.coach.url) #{team.coach.name}

    
        li.list-group-item 
          h5.card-title Team Players
          ul(class="list-group")
            each player in team_players
              li(class="list-group-item")
                a(href=player.url) #{player.name}
            else
              li(class="list-group-item") This team does not have any players. 
      
      .card-body 
        a.card-link(href=team.update_url) Update this Team
        a.card-link(href=team.delete_url) Delete this Team

    