extends layout

block content
  h1 !{title}
  h2 Coach: !{team.coach.name}
  h3 !{team.name}'s Players 

  ul
    each player in team_players
      li
        p Player:   
            a(href=player.url) #{player.name} 
    else
      li No players are participating on this team.   

  a(href=team.update_url) Update this team
  br 
  a(href=team.delete_url) Delete this team